img {
  width: 100%;
}

.octodex {
  display: flex;
  border: 1px solid green;
}
.octocat {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  margin: 5px 10px;
}
.authors img {
  height: 25px;
  width: 25px;
}
ul {
  list-style-type: none;
}
.image-footer {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
img {
  border: 1px solid green;
}
ul .authors {
  margin-left: -40px;
}
.image-caption {
  display: flex;
  justify-content: flex-end;
}
.image-number {
  color: grey;
}
.image-number:before {
  content: "#";
}
